html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: sans-serif;
}

/* Contenedor del PDF */
#pdf-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Canvas PDF */
#pdf-canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  padding-bottom: env(safe-area-inset-bottom);
  color: #ffffff;
  font-size: 14px;
  z-index: 9999;
}

footer a {
  color: #ffdb58;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


* {
  -webkit-user-select: none;
  user-select: none;
}